---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=bitcoin%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="a1c8b96a81de038a55a7b22e431133fb",
        oauth_signature="JEbzNsxyJauURGQ1tiDodgCcp10%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527534421", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 28 May 2018 19:07:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4a2d32d73564bcc6678521c0f7593ba9
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1527534749'
      X-Response-Time:
      - '124'
      X-Transaction:
      - 0000a5c90045eaf8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon May 28 19:06:34 +0000 2018","id":1001177929890574336,"id_str":"1001177929890574336","text":"The
        latest The Crypto 2.0 \/ Blockchain Daily News! https:\/\/t.co\/ve1fh8kX3M
        Thanks to @duneaviles8 @dawneha91907531 @NEWS83687642 #bitcoin","truncated":false,"entities":{"hashtags":[{"text":"bitcoin","indices":[129,137]}],"symbols":[],"user_mentions":[{"screen_name":"duneaviles8","name":"alejandro
        carbonell","id":761353459,"id_str":"761353459","indices":[85,97]},{"screen_name":"dawneha91907531","name":"dawne
        harris","id":1000794880514379777,"id_str":"1000794880514379777","indices":[98,114]},{"screen_name":"NEWS83687642","name":"\u4eee\u60f3\u901a\u8ca8NEWS
        \u03b1","id":975510694358470656,"id_str":"975510694358470656","indices":[115,128]}],"urls":[{"url":"https:\/\/t.co\/ve1fh8kX3M","expanded_url":"https:\/\/paper.li\/crypto20org\/1453907191?edition_id=b491d2d0-6288-11e8-8cdf-0cc47a0d1609","display_url":"paper.li\/crypto20org\/14\u2026","indices":[51,74]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/paper.li\" rel=\"nofollow\"\u003ePaper.li\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3024613239,"id_str":"3024613239","name":"Crypto
        2.0","screen_name":"crypto20org","location":"","description":"The blockchain
        is changing the world, http:\/\/t.co\/HpMeKXn8Kz mission is to promote crypto
        2.0 projects, focusing on value, worthy news, no hype or fear.","url":"http:\/\/t.co\/9P44E8nUlc","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/9P44E8nUlc","expanded_url":"http:\/\/www.crypto20.org","display_url":"crypto20.org","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/HpMeKXn8Kz","expanded_url":"http:\/\/Crypto20.org","display_url":"Crypto20.org","indices":[38,60]}]}},"protected":false,"followers_count":136,"friends_count":234,"listed_count":90,"created_at":"Sun
        Feb 08 08:52:36 +0000 2015","favourites_count":22,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1533,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/644526817735520256\/9TGkygbc_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/644526817735520256\/9TGkygbc_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3024613239\/1442502902","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        May 28 19:06:33 +0000 2018","id":1001177928821026822,"id_str":"1001177928821026822","text":"Earn
        bitcoin on a daily basis!\n\n1. Follow @slidecoin \n2. Complete instructions
        in pinned tweet","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"SlideCoin","name":"SlideCoin","id":887595301149827072,"id_str":"887595301149827072","indices":[42,52]}],"urls":[]},"metadata":{"iso_language_code":"en","resu[...]
