---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="a7ebd9319b149b70f5cc0211d8467cf1",
        oauth_signature="CQn1Si443pACcFNWtkiWls7vYJY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527389889", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 May 2018 02:58:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f465b385083566529d83e5a0bd1bbd73
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1527390365'
      X-Response-Time:
      - '191'
      X-Transaction:
      - 00e6ee7600c3e5c6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun May 27 02:57:54 +0000 2018","id":1000571770989146118,"id_str":"1000571770989146118","text":"harden.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1674593498,"id_str":"1674593498","name":"B\u00b3","screen_name":"souljabarlos","location":"Houston,
        TX","description":"carpe noctem","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1572,"friends_count":292,"listed_count":21,"created_at":"Fri
        Aug 16 02:29:50 +0000 2013","favourites_count":22571,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":18234,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/998124423033991168\/zhlmSRyo_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/998124423033991168\/zhlmSRyo_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1674593498\/1527131889","profile_link_color":"ABB8C2","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Sun
        May 27 02:57:54 +0000 2018","id":1000571770989146112,"id_str":"1000571770989146112","text":"4
        REAL IF MISSA CHARLIE SAYS WEEZ 1\/5 DEY IS Y AINT WEEZ PAYIN 1\/5 TAXES DEY
        IS? https:\/\/t.co\/mxXKfg3zBu","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/mxXKfg3zBu","expanded_url":"https:\/\/www.facebook.com\/gdeuce.dydell\/posts\/1862848627104930","display_url":"facebook.com\/gdeuce.dydell\/\u2026","indices":[81,104]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/www.facebook.com\/twitter\" rel=\"nofollow\"\u003eFacebook\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":162760959,"id_str":"162760959","name":"G
        The Winner(Dydell)","screen_name":"GTheWinner","location":"Kc","description":"Musician,
        c[...]
