---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api//v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: This is absolutely amazing!!! This is utterly intoxicating. What are
        we gonna do? Oh no. Bob said sally likes peanut butter.
    headers:
      Authorization:
      - Basic MGIwYTZmNTYtNjI3NS00YWY4LWI1YzYtNGE2NTc5NDY0MTM3Om5iRVBWQ2pBUzZ3aQ==
      Content-Type:
      - text/plain;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Service-Api-Version:
      - 3.5.3; 2017-09-21
      X-Service-Build-Number:
      - '2018-05-14T05:02:51'
      Content-Language:
      - en-US
      Content-Type:
      - application/json
      X-Dp-Transit-Id:
      - gateway02-1111383981
      X-Global-Transaction-Id:
      - ffea405d5b0c63bd423e5fad
      X-Dp-Watson-Tran-Id:
      - gateway02-1111383981
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.710116,"tone_id":"joy","tone_name":"Joy"},{"score":0.962182,"tone_id":"confident","tone_name":"Confident"}]},"sentences_tone":[{"sentence_id":0,"text":"This
        is absolutely amazing!!!","tones":[{"score":0.899924,"tone_id":"joy","tone_name":"Joy"},{"score":0.762356,"tone_id":"analytical","tone_name":"Analytical"},{"score":0.992572,"tone_id":"confident","tone_name":"Confident"}]},{"sentence_id":1,"text":"This
        is utterly intoxicating.","tones":[]},{"sentence_id":2,"text":"What are we
        gonna do?","tones":[]},{"sentence_id":3,"text":"Oh no. Bob said sally likes
        peanut butter.","tones":[]}]}'
  recorded_at: Mon, 28 May 2018 20:17:01 GMT
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api//v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: '[#<Tweet id: 1, text: "This is absolutely amazing!!!", score: "0.899924",
        tone_id: "joy", tone_name: "Joy", created_at: "2018-05-28 20:17:01", updated_at:
        "2018-05-28 20:17:01">]'
    headers:
      Authorization:
      - Basic MGIwYTZmNTYtNjI3NS00YWY4LWI1YzYtNGE2NTc5NDY0MTM3Om5iRVBWQ2pBUzZ3aQ==
      Content-Type:
      - text/plain;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Service-Api-Version:
      - 3.5.3; 2017-09-21
      X-Service-Build-Number:
      - '2018-05-14T05:02:51'
      Content-Language:
      - en-US
      Content-Type:
      - application/json
      X-Dp-Transit-Id:
      - gateway02-1111385389
      X-Global-Transaction-Id:
      - ffea405d5b0c63bd423e652d
      X-Dp-Watson-Tran-Id:
      - gateway02-1111385389
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.597903,"tone_id":"joy","tone_name":"Joy"},{"score":0.718823,"tone_id":"confident","tone_name":"Confident"}]}}'
  recorded_at: Mon, 28 May 2018 20:17:02 GMT
recorded_with: VCR 4.0.0
