---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: This is absolutely amazing!!! This is utterly intoxicating.
    headers:
      Authorization:
      - Basic MGIwYTZmNTYtNjI3NS00YWY4LWI1YzYtNGE2NTc5NDY0MTM3Om5iRVBWQ2pBUzZ3aQ==
      Content-Type:
      - text/plain;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Service-Api-Version:
      - 3.5.3; 2017-09-21
      X-Service-Build-Number:
      - '2018-05-14T05:02:51'
      Content-Language:
      - en-US
      Content-Type:
      - application/json
      X-Dp-Transit-Id:
      - gateway01-422717985
      X-Global-Transaction-Id:
      - 7ecac92c5b18092a19322a21
      X-Dp-Watson-Tran-Id:
      - gateway01-422717985
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.747743,"tone_id":"joy","tone_name":"Joy"},{"score":0.994425,"tone_id":"confident","tone_name":"Confident"},{"score":0.694442,"tone_id":"analytical","tone_name":"Analytical"}]},"sentences_tone":[{"sentence_id":0,"text":"This
        is absolutely amazing!!!","tones":[{"score":0.899924,"tone_id":"joy","tone_name":"Joy"},{"score":0.992572,"tone_id":"confident","tone_name":"Confident"},{"score":0.762356,"tone_id":"analytical","tone_name":"Analytical"}]},{"sentence_id":1,"text":"This
        is utterly intoxicating.","tones":[]}]}'
  recorded_at: Wed, 06 Jun 2018 16:17:46 GMT
recorded_with: VCR 4.0.0
