<%= content_tag "div", id: "tweets", data: {tweets: @document_text} do %>
<% end %>

<div class="row main-tweet-page">

  <div class="six columns tweet-page-index">
    <div class="twelve columns title">
      <h2>Tweets</h2>
    </div>

    <div class="ten columns tweet-box">
      <% @analyzer.tweets.each do |tweet| %>
        <div class="twelve columns tweet">
          <%= link_to tweet.text, "/tweets/#{tweet.id}" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="six columns tweet-page">
    <div class="title">
      <h2>Overall Tones</h2>
    </div>

    <div>
      <ul id="watson_partial">
      </ul>
    </div>

    <button type="button" class="get_watson_button">Watson Data</button>
  </div>

  <div class="six columns tweet-page-market">
    <div class="title">
      <h2>Market Data</h2>
    </div>

    <div>
      <h1 id="market_partial">
      </h1>
    </div>

    <button type="button" class="get_market_button">Market Data</button>
  </div>

</div>
<%= javascript_include_tag 'tweets' %>
