<div class="row main-tweet-page">

  <div class="six columns tweet-page">
    <div class="twelve columns title">
      <h2>Tweets</h2>
    </div>

    <div class="ten columns">
      <% @analyzer.tweets.each do |tweet| %>
        <div class="twelve columns tweet">
          <h6><%= link_to tweet.text, "/tweets/#{tweet.id}" %></h6>
        </div>
      <% end %>
    </div>
  </div>

  <div class="six columns tweet-page">
    <h2>Tones</h2>
    <button type="button" class="get_watson_button">Get Watson Data</button>
    <%= content_tag "div", id: "tweets", data: {tweets: @document_text} do %>
    <% end %>
    <div style="display:none;" id="partial">

    </div>
  </div>

</div>
<%= javascript_include_tag 'tweets' %>
