<div class="row">

  <div class="six columns tweet-page">

    <div class="ten columns tweet">
      <h6><%= @tweet.text %></h6>
    </div>

  </div>

  <div class="six columns tweet-page">

    <div class="ten columns tone-score">
      <%= @tweet.tone_name %>
    </div>

  </div>

</div>