<div class="row">

  <div class="six columns tweet-page">
    <div class="twelve columns title">
      <h2>Tweet</h2>
    </div>

    <div class="ten columns tweet">
      <div class="text"><%= @tweet.text %></div>
    </div>

  </div>

  <div class="six columns tweet-page">
    <div class="twelve columns title">
      <h2>Tones</h2>
    </div>

    <div class="ten columns tone-name">
      <ul class="tone-list">
      <% @tweet.tones.each do |tone| %>
        <li><%= tone.tone_name %>   <%= image_tag tone.url, class: 'tone-icon' %></li>
      <% end %>
    </ul>
    </div>

  </div>

</div>
