<div class="row">

  <div class="six columns tweet-page">
    <div class="twelve columns title">
      <h2>Tweet</h2>
    </div>

    <div class="ten columns tweet">
      <h6><%= @tweet.text %></h6>
    </div>

  </div>

  <div class="six columns tweet-page">
    <div class="twelve columns title">
      <h2>Tones</h2>
    </div>

    <div class="ten columns tone-name">
      <ul>
      <% @tweet.tones.each do |tone| %>
        <li><%= tone.tone_name %></li>
      <% end %>
    </ul>
    </div>

  </div>

</div>
