<div class="row">

  <div class="six columns tweet-page">
    <div class="twelve columns title">
      <h2>Tweets</h2>
    </div>

    <div class="ten columns tweet">
      <h6><%= @tweet.text %></h6>
    </div>

  </div>

  <div class="six columns tweet-page">
    <div class="twelve columns title">
      <h2>Tones</h2>
    </div>

    <div class="ten columns tone-score">
      <%= @tweet.tone_name %>
    </div>

  </div>

</div>