---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=bitcoin%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="9c91767774d520dad7a374e2d0e48de7",
        oauth_signature="Pc28OK%2Bz2WHR6xwbuncOFZYMJK4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528124932", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 04 Jun 2018 15:08:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 2316f5af3a36ca3effa53604f4427215
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1528125203'
      X-Response-Time:
      - '156'
      X-Transaction:
      - 00fc14c000ee34c5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon Jun 04 15:08:35 +0000 2018","id":1003654754805821441,"id_str":"1003654754805821441","text":"THE
        MOST INNOVATIVE AND LUCRATIVE WAY TO EARN BITCOIN\nJOIN BITCLUB NETWORK!\nhttps:\/\/t.co\/tiXDDuBrFB","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/tiXDDuBrFB","expanded_url":"http:\/\/bitclub.bz\/toshihiro0910","display_url":"bitclub.bz\/toshihiro0910","indices":[76,99]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/autotweety.net\" rel=\"nofollow\"\u003eautotweety.net\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":891202221693575168,"id_str":"891202221693575168","name":"Bitclub
        network","screen_name":"Bitclubnetwork3","location":"Australia","description":"THE
        MOST INNOVATIVE AND LUCRATIVE WAY TO EARN BITCOIN JOIN BITCLUB NETWORK!","url":"https:\/\/t.co\/xyp7Yqzrga","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/xyp7Yqzrga","expanded_url":"http:\/\/bitclub.network\/toshihiro0910","display_url":"bitclub.network\/toshihiro0910","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":148,"friends_count":55,"listed_count":3,"created_at":"Sat
        Jul 29 07:42:22 +0000 2017","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":7511,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/907860429736599553\/cK1NhpEy_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/907860429736599553\/cK1NhpEy_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/891202221693575168\/1502621004","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Jun 04 15:08:32 +0000 2018","id":1003654744290791424,"id_str":"1003654744290791424","text":"\"Crypto
        Point-of-Sale Devices Begin Roll-Out in Indonesia Despite Ban https:\/\/t.co\/LRrn7CaYpf
        #Bitcoin https:\/\/t.co\/s5Yc05PByG\"","truncated":false,"entities":{"hashtags":[{"text":"Bitcoin","indices":[94,102]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/LRrn7CaYpf","expanded_url":"https:\/\/ift.tt\/2Ji36Lj","display_url":"ift.tt\/2Ji36Lj","indices":[70,93]}],"media":[{"id":1003644442136506368,"id_str":"1003644442136506368","indices":[103,126],"media_url":"http:\/\/pbs.twimg.com\/media\/De2pTXZXcAAOQHy.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/De2pTXZXcAAOQHy.jpg","url":"https:\/\/t.co\/s5Yc05PByG","display_url":"pic.twitter.com\/s5Yc05PByG","expanded_url":"https:\/\/twitter.com\/BTCTN\/status\/1003644443671613440\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":768,"h":768,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"},"medium":{"w":768,"h":768,"resize":"fit"}},"source_status_id":1003644443671613440,"source_status_id_str":"1003644443671613440","source_user_id":3367334171,"source_user_id_str":"3367334171"}]},"extended_entities":{"media":[{"id":1003644442136506368,"id_str":"1003644442136506368","indices":[103,126],"media_url":"http:\/\/pbs.twimg.com\/media\/De2pTXZXcAAOQHy.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/De2pTXZXcAAOQHy.jpg","url":"https:\/\/t.co\/s5Yc05PByG","display_url":"pic.twitter.com\/s5Yc05PByG","expanded_url":"https:\/\/twitter.com\/BTCTN\/status\/1003644443671613440\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":768,"h":768,"resize":"fit"},"smal[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: |-
        THE MOST INNOVATIVE AND LUCRATIVE WAY TO EARN BITCOIN
        JOIN BITCLUB NETWORK!
        https://t.co/tiXDDuBrFB"Crypto Point-of-Sale Devices Begin Roll-Out in Indonesia Despite Ban https://t.co/LRrn7CaYpf #Bitcoin https://t.co/s5Yc05PByG"THE MOST INNOVATIVE AND LUCRATIVE WAY TO EARN BITCOIN
        JOIN BITCLUB NETWORK!Bitcoin’s Assimilation into Prague’s “Real Life Businesses” https://t.co/HfPPfokgOe #Crypto #UK@ProfFaustus @Auxon0 @spiroseliot @aantonop @gavinandresen @realSatoshiN Hmmm ... that explains a lot.  I've had so… https://t.co/roaeiqh609The Crypto Market Is Much More Than Bi[...]
