---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=bitcoin%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="db8a306ceee41dc8976f117df402c07a",
        oauth_signature="n%2B8bt%2Bx%2B3lu6Yme6KbK0h%2Bmj%2BHQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528128409", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 04 Jun 2018 16:06:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3b232b379ddea8506e978f51c11bea4c
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1528129309'
      X-Response-Time:
      - '154'
      X-Transaction:
      - 00754dde008de6ee
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon Jun 04 16:06:29 +0000 2018","id":1003669325734076416,"id_str":"1003669325734076416","text":"Huge
        #BTK #Airdrop 3000 tokens! Follow @bitcoin_token &amp; @Airdrop1com and join
        the airdrop  https:\/\/t.co\/UVQMFDPfUf\u2026 https:\/\/t.co\/7Q0FaxxFqs","truncated":true,"entities":{"hashtags":[{"text":"BTK","indices":[5,9]},{"text":"Airdrop","indices":[10,18]}],"symbols":[],"user_mentions":[{"screen_name":"bitcoin_token","name":"Bitcoin
        Token","id":946548499709034496,"id_str":"946548499709034496","indices":[39,53]},{"screen_name":"Airdrop1com","name":"Airdrop
        1","id":996068491265486848,"id_str":"996068491265486848","indices":[60,72]}],"urls":[{"url":"https:\/\/t.co\/UVQMFDPfUf","expanded_url":"https:\/\/www.airdrop1.com\/btk\/","display_url":"airdrop1.com\/btk\/","indices":[95,118]},{"url":"https:\/\/t.co\/7Q0FaxxFqs","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1003669325734076416","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[120,143]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":59128384,"id_str":"59128384","name":"MANOJ
        KUMAR RAM","screen_name":"mkgroup","location":"SHILLONG","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":103,"friends_count":632,"listed_count":0,"created_at":"Wed
        Jul 22 13:44:02 +0000 2009","favourites_count":47,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":584,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/924172394729635840\/cFAlzRKS_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/924172394729635840\/cFAlzRKS_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/59128384\/1479578635","profile_link_color":"19CF86","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Jun 04 16:06:27 +0000 2018","id":1003669318322749442,"id_str":"1003669318322749442","text":"These
        signs show bitcoin may finally be bottoming, chart watcher says https:\/\/t.co\/6cm3bl3kXG
        #bitcoin #crypto https:\/\/t.co\/qwthAkissF","truncated":false,"entities":{"hashtags":[{"text":"bitcoin","indices":[94,102]},{"text":"crypto","indices":[103,110]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/6cm3bl3kXG","expanded_url":"https:\/\/ift.tt\/2LW0WTr","display_url":"ift.tt\/2LW0WTr","indices":[70,93]}],"media":[{"id":1003669316720648192,"id_str":"1003669316720648192","indices":[111,134],"media_url":"http:\/\/pbs.twimg.com\/media\/De2_7QcX4AAxt9K.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/De2_7QcX4AAxt9K.jpg","url":"https:\/\/t.co\/qwthAkissF","display_url":"pic.twitter.com\/qwthAkissF","expanded_url":"https:\/\/twitter.com\/betbybitcoins\/status\/1003669318322749442\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":890,"h":501,"resize":"fit"},"large":{"w":890,"h":501,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1003669316720648192,"id_str":"1003669316720648192","indices":[111,134],"media_url":"http:\/\/pbs.twimg.com\/media\/De2_7QcX4AAxt9K.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/De2_7QcX4AAxt9K.jpg","url":"https:\/\/t.co\/qwthAkissF","display_url":"pic.twitter.com\/qwthAkissF","expanded_url":"https:\/\/twitter.com\/betbybitcoins\/status\/1003669318322749442\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":890,"h":501,"resize":"fi[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "Huge #BTK #Airdrop 3000 tokens! Follow @bitcoin_token &amp; @Airdrop1com
        and join the airdrop  https://t.co/UVQMFDPfUf… https://t.co/7Q0FaxxFqsThese
        signs show bitcoin may finally be bottoming, chart watcher says https://t.co/6cm3bl3kXG
        #bitcoin #crypto https://t.co/qwthAkissFInteresting eclectic discussion in...#bitcoin
        #affordable #housing #scarcity #activists https://t.co/nvJxTifKBXSmart City
        Feed \U0001F916 retweeted:\n\nHappy National day of Civic #hacking from https://t.co/ISJhVPAeim
        \n#hackforchange… https://t.co/dDIs23rUykCy retweeted:\n\nHappy National day
        of Civic #hacking from https://t.co/ISJhVPAeim \n#hackforchange #hack #infosec…
        https://t.co/NUyKYldWsh#Cryptocurrency  #Investors Say  #Bitcoin  #Screaming
        a  #Buy from Technical Charts | BTCMANAGER… https://t.co/On0yOpES09\"Bitcoin
        down, down, down\" by trader RF1508 — published June 04, 2018 \n https://t.co/coy2fh76dVHuge
        #BTK #Airdrop 3000 tokens! Follow @bitcoin_token &amp; @Airdrop1com and join
        the airdrop  https://t.co/vbfaWeuqG5… https://t.co/lCyvE6IpdxHuge #BTK #Airdrop
        3000 tokens! Follow @bitcoin_token &amp; @Airdrop1com and join[...]
