---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=bitcoin%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="6c2168cfdd96aac09ba1942fc5bedc54",
        oauth_signature="0Ac2BSScuV3Faw2va0xMn6MkhWg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527804118", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 31 May 2018 22:01:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a631f11a10d00641a2398258ba445d15
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1527805018'
      X-Response-Time:
      - '152'
      X-Transaction:
      - 00d378f100d125cb
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu May 31 22:01:43 +0000 2018","id":1002309172053110784,"id_str":"1002309172053110784","text":"Devere
        Group Adds Bitcoin Cash and EOS to Crypto Exchange\u00a0App https:\/\/t.co\/5hhtBA4C3n
        https:\/\/t.co\/R4L7DpwGLK","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/5hhtBA4C3n","expanded_url":"http:\/\/networkurl.com\/devere-group-adds-bitcoin-cash-and-eos-to-crypto-exchange-app","display_url":"networkurl.com\/devere-group-a\u2026","indices":[62,85]}],"media":[{"id":1002309170219978753,"id_str":"1002309170219978753","indices":[86,109],"media_url":"http:\/\/pbs.twimg.com\/media\/Dejq4T4UEAEvPxG.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Dejq4T4UEAEvPxG.jpg","url":"https:\/\/t.co\/R4L7DpwGLK","display_url":"pic.twitter.com\/R4L7DpwGLK","expanded_url":"https:\/\/twitter.com\/networkurl\/status\/1002309172053110784\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":1024,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"},"medium":{"w":1024,"h":1024,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1002309170219978753,"id_str":"1002309170219978753","indices":[86,109],"media_url":"http:\/\/pbs.twimg.com\/media\/Dejq4T4UEAEvPxG.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Dejq4T4UEAEvPxG.jpg","url":"https:\/\/t.co\/R4L7DpwGLK","display_url":"pic.twitter.com\/R4L7DpwGLK","expanded_url":"https:\/\/twitter.com\/networkurl\/status\/1002309172053110784\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":1024,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"},"medium":{"w":1024,"h":1024,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/publicize.wp.com\/\" rel=\"nofollow\"\u003eWordPress.com\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":771639305055776769,"id_str":"771639305055776769","name":"eGlobe
        #Network","screen_name":"networkurl","location":"The Net","description":"#GLOBAL
        #TECH #ECOMMERCE #BUSINESS #RETAIL #CONSUMER AND #MARKETPLACE #TRENDS \ud83c\udf10","url":"https:\/\/t.co\/0ussYwNtU0","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/0ussYwNtU0","expanded_url":"http:\/\/networkurl.com","display_url":"networkurl.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":538,"friends_count":474,"listed_count":4,"created_at":"Fri
        Sep 02 09:22:01 +0000 2016","favourites_count":83,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":8822,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/982164418053066754\/b5Sj2AwZ_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/982164418053066754\/b5Sj2AwZ_normal.jpg","profile_link_color":"3399CC","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        May 31 22:01:42 +0000 2018","id":1002309170094321665,"id_str":"1002309170094321665","text":"#bitcoin
        Tron begins to move on its own blockchain - https:\/\/t.co\/1UQL9OJw3H https:\/\/t.co\/WzoRoT8Fhn","truncated":false,"entities":{"hashtags":[{"text":"bitcoin","indices":[0,8]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/1UQL9OJw3H","expanded_url":"http:\/\/bit-coin-news.info\/news\/tron-begins-to-move-on-its-own-blockchain[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api//v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "Devere Group Adds Bitcoin Cash and EOS to Crypto Exchange App https://t.co/5hhtBA4C3n
        https://t.co/R4L7DpwGLK#bitcoin Tron begins to move on its own blockchain
        - https://t.co/1UQL9OJw3H https://t.co/WzoRoT8FhnJapanese Internet Giant GMO
        to Launch In-Game Bitcoin Rewards System This Summer https://t.co/EVjyWpPn[...]
