---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="7d176280f3cf3c1fd40a9637121c2e62",
        oauth_signature="wQlpLns%2BmLxA9X3sPNJ%2FBFRQx2E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527389464", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 May 2018 02:51:05 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 80a7a638f2e9c503e30ee05c049ede58
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1527390365'
      X-Response-Time:
      - '170'
      X-Transaction:
      - '0092642b00d98aa8'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun May 27 02:50:50 +0000 2018","id":1000569991169789952,"id_str":"1000569991169789952","text":"\u201cAlice
        had got so much into the way of expecting nothing but out-of-the-way things
        to happen, that it seemed quite\u2026 https:\/\/t.co\/RkszjkzZ8b","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/RkszjkzZ8b","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1000569991169789952","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[116,139]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2480136043,"id_str":"2480136043","name":"Heather
        McLean","screen_name":"1HeatherMcLean","location":"Austin Texas","description":"Sustainable
        garden designer, urban farmer, and landscape painter. Author of The Seventh
        Season","url":"http:\/\/t.co\/JCqlIuMkut","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/JCqlIuMkut","expanded_url":"http:\/\/1HeatherMcLean.com","display_url":"1HeatherMcLean.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":6699,"friends_count":32,"listed_count":84,"created_at":"Tue
        May 06 17:34:36 +0000 2014","favourites_count":408,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1754,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/606945600244842496\/0wqufwMN_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/606945600244842496\/0wqufwMN_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2480136043\/1433542022","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        May 27 02:50:50 +0000 2018","id":1000569991161315329,"id_str":"1000569991161315329","text":"I
        still need to finish inuyasha....but don\u2019t even want to cause it\u2019s
        just so good ffgggh","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTw[...]
