---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="a4ecf20c52bdb51d52f530973e49fb5e",
        oauth_signature="8Jo6n3m20%2B8Q4oD9n%2BQd0qbMsJs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527481293", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 28 May 2018 04:21:34 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8ff4fb8fcb77c42b7c51b1fdcdc3f45a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1527482194'
      X-Response-Time:
      - '194'
      X-Transaction:
      - 00cab9ff00091d05
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon May 28 04:21:19 +0000 2018","id":1000955149215395840,"id_str":"1000955149215395840","text":"How
        do people not understand that sometimes restaurants are busy and sometimes
        things happen?","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3119075077,"id_str":"3119075077","name":"\u2661FOR
        REAL!?\u2661","screen_name":"crabbybutcute","location":"Trendsetter in AZ\ud83c\udf35from
        CA\ud83c\udf0a","description":"Overwatch\u2728\u2022 engaged to @Real_Mute\u2022
        I\u2019m really good at holding cups\u2022 ScandinavianBabe\u2022 lvl22\u2022
        petty\u2022 badwords&caffeine\u2615\ufe0f\u2022 moon:\u2653\ufe0fsun:\u264c\ufe0f\u2022
        ENFP\u2022 PUNCHNAZIS\ud83e\udd1c\ud83c\udffb\u2022","url":"https:\/\/t.co\/MOJ9O9KqLk","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/MOJ9O9KqLk","expanded_url":"http:\/\/twitch.tv\/crabbybutcute","display_url":"twitch.tv\/crabbybutcute","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1450,"friends_count":867,"listed_count":39,"created_at":"Tue
        Mar 31 03:31:55 +0000 2015","favourites_count":84362,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":100058,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/982980468831240193\/S-EH4dzt_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/982980468831240193\/S-EH4dzt_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3119075077\/1526834388","profile_link_color":"F5ABB5","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Mon
        May 28 04:21:19 +0000 2018","id":1000955149198725121,"id_str":"1000955149198725121","text":"My
        oh my lebron with another final ...What a guy","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_st[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api//v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "How do people not understand that sometimes restaurants are busy and
        sometimes things happen?My oh my lebron with another final ...What a guyOf
        course it'll take him twice as long as the normal person to actually find
        the needle because everything he does is half assed.after what I’ve been seeing
        from lebron this year, I cannot be a hater anymore. he’s the best player to
        play the game right now.To all of our military - past and present - we thank
        you and your families for your sacrifice and service. It is be… https://t.co/qORMJjzwSrMy
        Love #Jhope \U0001F495\n@BTS_twt https://t.co/vWTRF88IEr@Nickmilam11 Hard
        foulthis is the flattest my chest has EVER been. God is real, laid ease.Thank
        you \U0001F618 https://t.co/lEnifZZkAnNow Playing Christian Jazz Artists Network
        - How Great Thou Art - Jamie Reid Listen Live @ https://t.co/49GdaDoCkI… https://t.co/Wq0qISQTXI"
    headers:
      Authorization:
      - Basic MGIwYTZmNTYtNjI3NS00YWY4LWI1YzYtNGE2NTc5NDY0MTM3Om5iRVBWQ2pBUzZ3aQ==
      Content-Type:
      - text/plain;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Service-Api-Version:
      - 3.5.3; 2017-09-21
      X-Service-Build-Number:
      - '2018-05-14T05:02:51'
      Content-Language:
      - en-US
      Content-Type:
      - application/json
      X-Dp-Transit-Id:
      - gateway02-1038537677
      X-Global-Transaction-Id:
      - ffea405d5b0b83cf3de6d3cd
      X-Dp-Watson-Tran-Id:
      - gateway02-1038537677
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJkb2N1bWVudF90b25lIjp7InRvbmVzIjpbeyJzY29yZSI6MC44ODQ5NCwidG9uZV9pZCI6ImpveSIsInRvbmVfbmFtZSI6IkpveSJ9LHsic2NvcmUiOjAuNTE5NzA5LCJ0b25lX2lkIjoiY29uZmlkZW50IiwidG9uZV9uYW1lIjoiQ29uZmlkZW50In1dfSwic2VudGVuY2VzX3RvbmUiOlt7InNlbnRlbmNlX2lkIjowLCJ0ZXh0IjoiSG93IGRvIHBlb3BsZSBub3QgdW5kZXJzdGFuZCB0aGF0IHNvbWV0aW1lcyByZXN0YXVyYW50cyBhcmUgYnVzeSBhbmQgc29tZXRpbWVzIHRoaW5ncyBoYXBwZW4/TXkgb2ggbXkgbGVicm9uIHdp[...]
