---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=Bitcoin%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="7b18b0e6c692d416a103474d06c4540e",
        oauth_signature="zrjy2Br9zMxpq%2FsnnYO9B3dAOzo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527388967", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 27 May 2018 02:42:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 46ede15f64b1fbb22ba7671b1ec09e88
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1527389390'
      X-Response-Time:
      - '186'
      X-Transaction:
      - 00ca269100a92b95
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun May 27 02:42:33 +0000 2018","id":1000567907770949632,"id_str":"1000567907770949632","text":"Buy
        this coin in Binance right now!\nPossible profit TA\n\nUse mah reflink, please\n\nhttps:\/\/t.co\/GxqrML0YSN     \n\nTHAN\u2026
        https:\/\/t.co\/zDKhF72dZg","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/GxqrML0YSN","expanded_url":"https:\/\/www.binance.com\/?ref=11292701","display_url":"binance.com\/?ref=11292701","indices":[81,104]},{"url":"https:\/\/t.co\/zDKhF72dZg","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1000567907770949632","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/www.binance.com\/?ref=11292701\" rel=\"nofollow\"\u003eBinanceBEST024\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":349792307,"id_str":"349792307","name":"Tomas
        Shelby","screen_name":"Tomm_Shelby","location":"","description":"#Crypto Hunter.\nPlease,
        use my reflink as thanks to the Analysis I post... I will be forever grateful
        ^- ^","url":"https:\/\/t.co\/tcmpbgUOAe","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/tcmpbgUOAe","expanded_url":"http:\/\/binance.com\/?ref=11292701","display_url":"binance.com\/?ref=11292701","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":61020,"friends_count":35841,"listed_count":9,"created_at":"Sat
        Aug 06 18:11:40 +0000 2011","favourites_count":655,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2774,"lang":"pt","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/990264493396684806\/eUwUGdHv_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/990264493396684806\/eUwUGdHv_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/349792307\/1526358454","profile_link_color":"000000","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        May 27 02:42:17 +0000 2018","id":1000567841106546689,"id_str":"1000567841106546689","text":"Bitcoin
        [BTC] encounters rebel, a protest by Hashpowering company https:\/\/t.co\/LOnZ9dSsdy
        https:\/\/t.co\/6KTPA9Nmtc","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/LOnZ9dSsdy","expanded_url":"http:\/\/j.mp\/2LxQRM0","display_url":"j.mp\/2LxQRM0","indices":[66,89]}],"media":[{"id":1000567839252561920,"id_str":"1000567839252561920","indices":[90,113],"media_url":"http:\/\/pbs.twimg.com\/media\/DeK7JghUQAA3Szm.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DeK7JghUQAA3Szm.jpg","url":"https:\/\/t.co\/6KTPA9Nmtc","display_url":"pic.twitter.com\/6KTPA9Nmtc","expanded_url":"https:\/\/twitter.com\/RoccoDallas\/status\/1000567841106546689\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":200,"h":200,"resize":"fit"},"small":{"w":200,"h":200,"resize":"fit"},"medium":{"w":200,"h":200,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1000567839252561920,"id_str":"1000567839252561920","indices":[90,113],"media_url":"http:\/\/pbs.twimg.com\/media\/DeK7JghUQAA3Szm.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DeK7JghUQAA3Szm.jpg","url":"https:\/\/t.co\/6KTPA9Nmtc","display_url":"pic.twitter.com\/6KTPA9Nmtc","expanded_url":"https:\/\/twitter.com\/RoccoDallas\/status\/1000567841106546689\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":200,"h":200,"resize":"fit"},[...]
