---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=bitcoin%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="cddaf88c741e9b63cb893526696b747c",
        oauth_signature="RuL3iY9ORFG8mK2SULFycqTvWZY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527806381", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 31 May 2018 22:39:41 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4dea7e8b6bcfe15cf0be59f65b5c3902
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '173'
      X-Rate-Limit-Reset:
      - '1527806546'
      X-Response-Time:
      - '185'
      X-Transaction:
      - 00fbbf0d00edda60
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu May 31 22:39:17 +0000 2018","id":1002318627004211201,"id_str":"1002318627004211201","text":"Antminer
        S9 14TH\/s APW3+ PSU - Bitmain - IN HAND BRAND NEW https:\/\/t.co\/ZCSX0h0RJ4
        #bitcoin #ebay #crypto #money #asci #miner","truncated":false,"entities":{"hashtags":[{"text":"bitcoin","indices":[83,91]},{"text":"ebay","indices":[92,97]},{"text":"crypto","indices":[98,105]},{"text":"money","indices":[106,112]},{"text":"asci","indices":[113,118]},{"text":"miner","indices":[119,125]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/ZCSX0h0RJ4","expanded_url":"http:\/\/rover.ebay.com\/rover\/1\/710-53481-19255-0\/1?ff3=2&toolid=10039&campid=5337738741&item=162842195238&vectorid=229508&lgeo=1","display_url":"rover.ebay.com\/rover\/1\/710-53\u2026","indices":[59,82]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/www.socialjukebox.com\" rel=\"nofollow\"\u003eThe Social
        Jukebox\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2724541599,"id_str":"2724541599","name":"sara
        majeed l","screen_name":"saramajeedlon","location":"all over the world","description":"Rich
        girl travelling with my wife me and her are bi-sexual and we love each other
        so much.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":539,"friends_count":1018,"listed_count":14,"created_at":"Fri
        Jul 25 22:03:12 +0000 2014","favourites_count":409,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":8172,"lang":"en-gb","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/963729776627404800\/q8pzU6iP_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/963729776627404800\/q8pzU6iP_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2724541599\/1518606137","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        May 31 22:39:14 +0000 2018","id":1002318613326385152,"id_str":"1002318613326385152","text":"ICO
        Advisory Inwage Launched by Bitcoin Payroll Service Bitwage https:\/\/t.co\/QduXGJ8jh0","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/QduXGJ8jh0","expanded_url":"http:\/\/www.bitcoin-insight.com\/ico-advisory-inwage-launched-by-bitcoin-payroll-service-bitwage\/?utm_source=rss&utm_medium=[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "Antminer S9 14TH/s APW3+ PSU - Bitmain - IN HAND BRAND NEW https://t.co/ZCSX0h0RJ4
        #bitcoin #ebay #crypto #money #asci #minerICO Advisory Inwage Launched by
        Bitcoin Payroll Service Bitwage https://t.co/QduXGJ8jh0Every single altcoin
        is just a glorified Bitcoin testnetThe concept of #GlobalREIT will take this
        business to a new level, since at the same time it will give profits on b…
        https://t.co/mhIX3h4FRXAccounting #Blockchain #Airdrop \n4,500 AB (~$45)\n\n1.
        Signup &amp; Verify your email\nhttps://t.co/baWzJT0FQ4 \n Hurry up!… https://t.co/W6XogGwxM6Register
        Now &amp; Start Pwning Crypto Markets For Breakfast\U0001F959\n\n1 - 100x
        Leverage ✅\n\n▶️ https://t.co/XokkANT2um ◀️\n\nGo L… https://t.co/Kk3LMQeD7cICO
        Advisory Inwage Launched by Bitcoin Payroll Service Bitwage - https://t.co/u3D4wLAYnj
        $BTC #news #investing #trading@jimmysong @Tay[...]
