---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=bitcoin%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="87f7e0e621917828b385a04312ebe67e",
        oauth_signature="tFZ9UyhcDHoIeHY9P886Q47hYbo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527532874", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 28 May 2018 18:41:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1788218e23a6db9527976c4d82db17ad
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1527533693'
      X-Response-Time:
      - '117'
      X-Transaction:
      - 0072cf55005818b5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon May 28 18:41:00 +0000 2018","id":1001171497292107776,"id_str":"1001171497292107776","text":"@valik_cherevat
        Hi there! We currently have an issue with displaying the BCH funds. Our developers
        are working hard\u2026 https:\/\/t.co\/R3fzQ8h7Xy","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"valik_cherevat","name":"\u0412\u0430\u043b\u0435\u043d\u0442\u0438\u043d","id":837567981999775747,"id_str":"837567981999775747","indices":[0,15]}],"urls":[{"url":"https:\/\/t.co\/R3fzQ8h7Xy","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1001171497292107776","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/www.zendesk.com\" rel=\"nofollow\"\u003eZendesk\u003c\/a\u003e","in_reply_to_status_id":1001167456692588545,"in_reply_to_status_id_str":"1001167456692588545","in_reply_to_user_id":837567981999775747,"in_reply_to_user_id_str":"837567981999775747","in_reply_to_screen_name":"valik_cherevat","user":{"id":791301363892355072,"id_str":"791301363892355072","name":"Jaxx
        Support","screen_name":"Jaxx_Support","location":"Toronto, Ontario","description":"Welcome
        to the official @jaxx_io support page. We''re here to help and to answer all
        your questions. Maintained by The Customer Success Team at Jaxx & Decentral.","url":"https:\/\/t.co\/FI76VoHSUb","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/FI76VoHSUb","expanded_url":"https:\/\/jaxx.io","display_url":"jaxx.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":5375,"friends_count":28,"listed_count":64,"created_at":"Wed
        Oct 26 15:32:01 +0000 2016","favourites_count":999,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":11723,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/997977447529201664\/RPPYji3K_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/997977447529201664\/RPPYji3K_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/791301363892355072\/1526771511","profile_link_color":"F26A21","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        May 28 18:40:59 +0000 2018","id":1001171491742924800,"id_str":"1001171491742924800","text":"This
        is interesting. Wouldn''t be too hard for legislators or utility companies
        to require miners to fund renewable\u2026 https:\/\/t.co\/sTw8kJBoKl","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/sTw8kJBoKl","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1001171491742924800","[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api//v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "@valik_cherevat Hi there! We currently have an issue with displaying
        the BCH funds. Our developers are working hard… https://t.co/R3fzQ8h7XyThis
        is interesting. Wouldn't be too hard for legislators or utility companies
        to require miners to fund renewable… https://t.co/sTw8kJBoKlBitcoin Core Fees
        Fall to Their Lowest in Years https://t.co/ZIoE1O6y1R https://t.co/hC7E2RvwhtI
        accidentally threw away $60M worth of Bitcoin https://t.co/XTNhpMn5zTPR: Former
        Head of Strategy &amp; Operations Consulting at KPMG Joins XinFin Platform
        https://t.co/KZ4m7Xar6y https://t.co/44gM3xQNDI#FlipNpik is a #Blockchain
        #collaborative #socialmedia tailored for local #Businesses learn more… https://t.co/kBqvJFJZp9hodl
        still best trade that you can do with #bitcoin / Just the opposite way!Bitcoin
        Cash $BCH price: $929.99 \n\nHURRY! Binance is currently accepting new users
        \U0001F4B0 \U0001F4B8  \n\n➡️… https://t.co/2u7IjWbtG8Copy successful traders
        automatically with Bitcoin! \U0001F4B0\U0001F4B0\n\nI copy [...]
[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api//v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: '[#<Tweet id: 16, text: "We currently have an issue with displaying
        the BCH...", score: "0.687768", tone_id: "analytical", tone_name: "Analytical",
        created_at: "2018-05-28 18:41:17", updated_at: "2018-05-28 18:41:17">, #<Tweet
        id: 17, text: "Wouldn''t be too hard for legislators or utility co...", score:
        "0.647986", tone_id: "tentative", tone_name: "Tentative", created_at: "2018-05-28
        18:41:17", updated_at: "2018-05-28 18:41:17">, #<Tweet id: 18, text: "Core
        Fees Fall to Their Lowest in Years https://t....", score: "0.573037", tone_id:
        "sadness", tone_name: "Sadness", created_at: "2018-05-28 18:41:17", updated_at:
        "2018-05-28 18:41:17">, #<Tweet id: 19, text: "accidentally threw away $60M
        worth of Bitcoin http...", score: "0.560098", tone_id: "analytical", tone_name:
        "Analytical", created_at: "2018-05-28 18:41:17", updated_at: "2018-05-28 18:41:17">,
        #<Tweet id: 20, text: "https://t.co/44gM3xQNDI#FlipNpik is a #Blockchain ...",
        score: "0.651788", tone_id: "joy", tone_name: "Joy", created_at: "2018-05-28
        18:41:17", updated_at: "2018-05-28 18:41:17">, #<Tweet id: 21, text: "still
        best trade that you can do with #bitcoin / J...", score: "0.654676", tone_id:
        "joy", tone_name: "Joy", created_at: "2018-05-28 18:41:17", updated_at: "2018-05-28
        18:41:17">, #<Tweet id: 22, text: "$DASH -25.009m", score: "0.931034", tone_id:
        "anger", tone_name: "Anger", created_at: "2018-05-28 18:41:17", updated_at:
        "2018-05-28 18:41:17">, #<Tweet id: 23, text: "Would Be Shocked If Bitcoin
        Prices Weren’t Manipul...", score: "0.920855", tone_id: "analytical", tone_name:
        "Analytical", created_at: "2018-05-28 18:41:17", updated_at: "2018-05-28 18:41:17">,
        #<Tweet id: 24, text: "#bitcoin #ethereum #btc #crypto #blockchainCopy su...",
        score: "0.687768", tone_id: "analytical", tone_name: "Analytical", created_at:
        "2018-05-28 18:41:17", updated_at: "2018-05-28 18:41:17">, #<Tweet id: 25,
        text: "Bears In Charge But Indecision Could Spur Rally ht...", score: "0.961411",
        tone_id: "tentative", tone_name: "Tentative", created_at: "2018-05-28 18:41:17",
        updated_at: "2018-05-28 18:41:17">, #<Tweet id: 26, text: "#bitcoin #ethereum
        #btc #crypto #blockchain#SKYFch...", score: "0.615352", tone_id: "tentative",
        tone_name: "Tentative", created_at: "2018-05-28 18:41:17", updated_at: "2018-05-28
        18:41:17">, #<Tweet id: 27, text: "Very promising company, good team, w… https://t.co...",
        score: "0.62632", tone_id: "joy", tone_name: "Joy", created_at: "2018-05-28
        18:41:17", updated_at: "2018-05-28 18:41:17">, #<Tweet id: 28, text: "@brucefenton
        YOUR KNOW @ChuckECheeses  .... and yo...", score: "0.764826", tone_id: "analytical",
        tone_name: "Analytical", created_at: "2018-05-28 18:41:17", updated_at: "2018-05-28
        18:41:17">, #<Tweet id: 29, text: "Bitcoin moves with up to 100x Leverage
        at Bitmex! ...", score: "0.672023", tone_id: "joy", tone_name: "Joy", created_at:
        "2018-05-28 18:41:17", updated_at: "2018-05-28 18:41:17">, #<Tweet id: 30,
        text: "Bitcoin Implements DPoS, Set to Become the Best Bl...", score: "0.762356",
        tone_id: "analytical", tone_name: "Analytical", created_at: "2018-05-28 18:41:17",
        updated_at: "2018-05-28 18:41:17">]'
    headers:
      Authorization:
      - Basic MGIwYTZmNTYtNjI3NS00YWY4LWI1YzYtNGE2NTc5NDY0MTM3Om5iRVBWQ2pBUzZ3aQ==
      Content-Type:
      - text/plain;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Service-Api-Version:
      - 3.5.3; 2017-09-21
      X-Service-Build-Number:
      - '2018-05-14T05:02:51'
      Content-Language:
      - en-US
      Content-Type:
      - application/json
      X-Dp-Transit-Id:
      - gateway02-1057850649
      X-Global-Transaction-Id:
      - ffea405d5b0c4d4d3f0d8519
      X-Dp-Watson-Tran-Id:
      - gateway02-1057850649
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.513937,"tone_id":"sadness","tone_name":"Sadness"}]}}'
  recorded_at: Mon, 28 May 2018 18:41:18 GMT
recorded_with: VCR 4.0.0
