---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=btc%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="58bac84cf0293c643f27f2b1c48756a4",
        oauth_signature="lgehg0Q40luzftqGRCg5lg9rdnA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528249342", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 01:42:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4fc61cfe8d74823197f818dc9e850e3a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1528249862'
      X-Response-Time:
      - '120'
      X-Transaction:
      - 00c2daac00590acc
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Wed Jun 06 01:42:07 +0000 2018","id":1004176578920607744,"id_str":"1004176578920607744","text":"Floating
        Islands in Paradise that Use Crypto! $BTC @BlueFrontiers  https:\/\/t.co\/tJqFAbxEgl
        https:\/\/t.co\/avfbQM0LmA","truncated":false,"entities":{"hashtags":[],"symbols":[{"text":"BTC","indices":[46,50]}],"user_mentions":[{"screen_name":"BlueFrontiers","name":"Blue
        Frontiers","id":893214462370381824,"id_str":"893214462370381824","indices":[51,65]}],"urls":[{"url":"https:\/\/t.co\/tJqFAbxEgl","expanded_url":"https:\/\/castbox.fm\/vd\/79448853","display_url":"castbox.fm\/vd\/79448853","indices":[67,90]}],"media":[{"id":1004176577372884992,"id_str":"1004176577372884992","indices":[91,114],"media_url":"http:\/\/pbs.twimg.com\/media\/De-NRtoUEAAP4SV.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/De-NRtoUEAAP4SV.jpg","url":"https:\/\/t.co\/avfbQM0LmA","display_url":"pic.twitter.com\/avfbQM0LmA","expanded_url":"https:\/\/twitter.com\/Crypto__101\/status\/1004176578920607744\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1200,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"},"large":{"w":1599,"h":1599,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1004176577372884992,"id_str":"1004176577372884992","indices":[91,114],"media_url":"http:\/\/pbs.twimg.com\/media\/De-NRtoUEAAP4SV.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/De-NRtoUEAAP4SV.jpg","url":"https:\/\/t.co\/avfbQM0LmA","display_url":"pic.twitter.com\/avfbQM0LmA","expanded_url":"https:\/\/twitter.com\/Crypto__101\/status\/1004176578920607744\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":1200,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"},"large":{"w":1599,"h":1599,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":888201053417619456,"id_str":"888201053417619456","name":"CRYPTO
        101","screen_name":"Crypto__101","location":"","description":"Crypto 101:
        The Average Consumers Guide to Cryptocurrency","url":"https:\/\/t.co\/rFUrGKz21Y","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/rFUrGKz21Y","expanded_url":"http:\/\/crypto101podcast.com","display_url":"crypto101podcast.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2350,"friends_count":424,"listed_count":63,"created_at":"Fri
        Jul 21 00:56:47 +0000 2017","favourites_count":1419,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":1649,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/987192060326195200\/IejllFfR_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/987192060326195200\/IejllFfR_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/888201053417619456\/1524199924","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Wed
        Jun 06 01:41:56 +0000 2018","id":1004176530879074304,"id_str":"1004176530879074304","text":"$LBC
        BIG EVENT ON 30TH JUNE\n#LBC BUY AT DIP\n\n$OMG $NEO $PAY $BTC $LSK $MCO $VTC
        $SC $TIX $ADX  $STRAT $XMR  $PAY\u2026 https:\/\/t.co\/juItc2sfQ9","truncated":true,"entities":{"hashtags":[{"text":"LBC","indices":[28,32]}],"symbols":[{"text":"LBC","indices":[0,4]},{"text":"OMG","indices":[45,49]},{"text":"NEO","indices":[50,54]},{"text":"PAY"[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "Floating Islands in Paradise that Use Crypto! $BTC @BlueFrontiers  https://t.co/tJqFAbxEgl
        https://t.co/avfbQM0LmA$LBC BIG EVENT ON 30TH JUNE\n#LBC BUY AT DIP\n\n$OMG
        $NEO $PAY $BTC $LSK $MCO $VTC $SC $TIX $ADX  $STRAT $XMR  $PAY… https://t.co/juItc2sfQ9#crypto
        #btc #usd whats another way i can convert and send[...]
