---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=eth%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="554050c09d4423f22b509d4dc5a03252",
        oauth_signature="OW1T2vCCzdF1i4XJ0JObRJFqvdg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528249375", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 01:42:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 68604032cd3588d01c48ba15c606144d
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1528249862'
      X-Response-Time:
      - '121'
      X-Transaction:
      - 004f3dfb00d13ef4
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Wed Jun 06 01:42:32 +0000 2018","id":1004176681853247488,"id_str":"1004176681853247488","text":"Fuck
        you @liquiditynet for not letting Canadians invest... I liked you $btc $eth","truncated":false,"entities":{"hashtags":[],"symbols":[{"text":"btc","indices":[71,75]},{"text":"eth","indices":[76,80]}],"user_mentions":[{"screen_name":"liquiditynet","name":"Liquidity.Network","id":896100363417333760,"id_str":"896100363417333760","indices":[9,22]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":377169051,"id_str":"377169051","name":"Michael
        Shimeles","screen_name":"michaelshimeles","location":"At the Moon \ud83d\ude80\ud83c\udf18","description":"cryptocurrency
        investor | fundamental analyst | ICOs make me happy","url":"https:\/\/t.co\/TrcbhaXw70","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrcbhaXw70","expanded_url":"http:\/\/www.youtube.com\/michaelshimeles","display_url":"youtube.com\/michaelshimeles","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":817,"friends_count":110,"listed_count":17,"created_at":"Wed
        Sep 21 04:06:49 +0000 2011","favourites_count":5055,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":8758,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1003838662352629761\/resovUI7_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1003838662352629761\/resovUI7_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/377169051\/1528212419","profile_link_color":"1B95E0","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Jun 06 01:42:27 +0000 2018","id":1004176660835467265,"id_str":"1004176660835467265","text":"Check
        out the worlds first #blockchain token which rewards you for #energyefficiency
        @EnergiMine \n#cryptocurrency\u2026 https:\/\/t.co\/xnjhjPg3mV","truncated":true,"entities":{"hashtags":[{"text":"blockchain","indices":[27,38]},{"text":"energyefficiency","indices":[67,84]},{"text":"cryptocurrency","indices":[98,113]}],"symbols":[],"user_menti[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "Fuck you @liquiditynet for not letting Canadians invest... I liked
        you $btc $ethCheck out the worlds first #blockchain token which rewards you
        for #energyefficiency @EnergiMine \n#cryptocurrency… https://t.co/xnjhjPg3mVhttps://t.co/OvdWA0JBbN\n@TrimpoPage
        #Trimpo #ICO #Crowdsale #Bitcoin #Blockchain #Token #ETH #Ethereum #TokenSale\nT…
        https://t.co/9fGfe9eQuPBinance is open to new users for a limited time, don't
        miss out!\n\n→ https://t.co/V8yLM2vDg9\n\nHappy trading! \U0001F680\U0001F4B0…
        https://t.co/PlaAmoJN0dCheck out this amazing #blockchain token which will
        financially reward you for energy efficient behaviour. Soon to… https://t.co/3UEBmmjMjf$LBC
        BIG EVENT ON 30TH JUNE\n#LBC BUY AT DIP\n\n$OMG $NEO $PAY $BTC $LSK $MCO $VTC
        $SC $TIX $ADX  $STRAT $XMR  $PAY… https://t.co/juItc2sfQ9@ClassW[...]
