---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=btc%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="4a548c64914f8fbc2904df13543d041b",
        oauth_signature="ryeYtXCwe2MoE3nLPjOk5euGNnQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528249248", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 01:40:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - be4efe3e358db5f3adef5b0ef4feff0d
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1528249862'
      X-Response-Time:
      - '172'
      X-Transaction:
      - 003a42ef0027923d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Wed Jun 06 01:40:33 +0000 2018","id":1004176184895262721,"id_str":"1004176184895262721","text":"3\/
        I''ve illustrated what that looks like in alts vs $btc since March with $ETH
        representative of most of the alt sp\u2026 https:\/\/t.co\/a83XNOuOK0","truncated":true,"entities":{"hashtags":[],"symbols":[{"text":"btc","indices":[52,56]},{"text":"ETH","indices":[74,78]}],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/a83XNOuOK0","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1004176184895262721","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":1004176183683141634,"in_reply_to_status_id_str":"1004176183683141634","in_reply_to_user_id":877728873340956672,"in_reply_to_user_id_str":"877728873340956672","in_reply_to_screen_name":"VentureCoinist","user":{"id":877728873340956672,"id_str":"877728873340956672","name":"Luke
        Martin","screen_name":"VentureCoinist","location":"","description":"I chart
        coins and talk about crypto investment strategy. Blockchain Startup Investor
        and Advisor. Subscribe to #CoinLife: https:\/\/t.co\/SRC7rxWkRX","url":"https:\/\/t.co\/nqdLm9lre9","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/nqdLm9lre9","expanded_url":"http:\/\/venturecoinist.com","display_url":"venturecoinist.com","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/SRC7rxWkRX","expanded_url":"https:\/\/www.youtube.com\/venturecoinist","display_url":"youtube.com\/venturecoinist","indices":[122,145]}]}},"protected":false,"followers_count":182068,"friends_count":354,"listed_count":3755,"created_at":"Thu
        Jun 22 03:24:05 +0000 2017","favourites_count":34293,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":9846,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/979543593642676224\/x_K0Rs8j_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/979543593642676224\/x_K0Rs8j_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/877728873340956672\/1505910757","profile_link_color":"32B512","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Wed
        Jun 06 01:40:25 +0000 2018","id":1004176148417220609,"id_str":"1004176148417220609","text":"Next
        pump scheduled today\n\nhttps:\/\/t.co\/eixKBUbjBL\n\n$VIBE $LEND $SUB $DRGN
        $BTG $XRP $BTC $ETH $ENG $NEBL $AMB $OAX\u2026 https:\/\/t.co\/B2m381c1Az","truncated":true,"entities":{"hashtags":[],"symbols":[{"text":"VIBE","indices":[52,57]},{"text":"LEND","indices":[58,63]},{"text":"SUB","indices":[64,68]},{"text":"DRGN","indices":[69,74]},[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "3/ I've illustrated what that looks like in alts vs $btc since March
        with $ETH representative of most of the alt sp… https://t.co/a83XNOuOK0Next
        pump scheduled today\n\nhttps://t.co/eixKBUbjBL\n\n$VIBE $LEND $SUB $DRGN
        $BTG $XRP $BTC $ETH $ENG $NEBL $AMB $OAX… https://t.co/B2m381c1AzHas anyone
        received an award for a tip submitted to the https://t.co/LwPcCkxD0V website?
        Looking for easy $ in the… https://t.co/9ym1JxRsKFVietnam Proposes Import
        Ban on Bitcoin Mining Equipment\n#Mining #ban #Bitcoin #BTC #crypto #Cryptocurrency…
        https://t.co/oQVz55cGPV@ZenTraderMx Buy btcJoin the Gemax Airdrop. Sign up
        and complete the following steps to recieve 8,500 GMAX Tokens.… https://t.co/tTkjqOwHUiyes
        man I b feeling so in control like “ yea suck my titty lil btc ass nigga”
        https://t.co/tXdvr5xjJAA $XMR is worth 0.0218805 BTCFamed Short-Seller Chanos
        Warns Against Bitcoin - Investopedia (blog) https://t.co/yulyztbnUlBinance
        is Your Gateway to #Crypto Currencies - $ETH $BTC $LTC $XRP #72g https://[...]
