---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=eth%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="9f504bdacd8bf3d43c9e54cf6829161a",
        oauth_signature="8U1xhlq15KU9Y%2BzdryXeX%2BVa2mo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528249282", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 01:41:22 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6395451d08b865558b7e531fb866b4ef
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1528249862'
      X-Response-Time:
      - '145'
      X-Transaction:
      - '009d15fd0072ec12'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Wed Jun 06 01:40:56 +0000 2018","id":1004176280772898816,"id_str":"1004176280772898816","text":"@lukeeboy
        There truly is no competition , btc bch eth or Ltc just can''t do what xrp
        does, time and costs are worth\u2026 https:\/\/t.co\/VAyl3oVPEQ","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"lukeeboy","name":"Luke
        Thomas","id":15872534,"id_str":"15872534","indices":[0,9]}],"urls":[{"url":"https:\/\/t.co\/VAyl3oVPEQ","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1004176280772898816","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[116,139]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":1003988797573349378,"in_reply_to_status_id_str":"1003988797573349378","in_reply_to_user_id":15872534,"in_reply_to_user_id_str":"15872534","in_reply_to_screen_name":"lukeeboy","user":{"id":4885013345,"id_str":"4885013345","name":"Rog1","screen_name":"FASTESTE55","location":"Florida,
        USA","description":"Too fast!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":79,"friends_count":35,"listed_count":1,"created_at":"Sun
        Feb 07 15:31:43 +0000 2016","favourites_count":9190,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1899,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/996965669420879872\/HyrEqqSu_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/996965669420879872\/HyrEqqSu_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Jun 06 01:40:45 +0000 2018","id":1004176234157228033,"id_str":"1004176234157228033","text":"If
        you want to save the world and get rewarded for it, check out @EnergiMine\n#cryptocurrency
        #blockchain #eth #btc\u2026 https:\/\/t.co\/4qPMNqZSUx","truncated":true,"entities":{"hashtags":[{"text":"cryptocurrency","indices":[77,92]},{"text":"blockchain","indices":[93,104]},{"text":"eth","indices":[105,109]},{"text":"btc","indices":[110,114]}][...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "@lukeeboy There truly is no competition , btc bch eth or Ltc just can't
        do what xrp does, time and costs are worth… https://t.co/VAyl3oVPEQIf you
        want to save the world and get rewarded for it, check out @EnergiMine\n#cryptocurrency
        #blockchain #eth #btc… https://t.co/4qPMNqZSUx3/ I've illustrated what that
        looks like in alts vs $btc since March with $ETH representative of most of
        the alt sp… https://t.co/a83XNOuOK0Next pump scheduled today\n\nhttps://t.co/eixKBUbjBL\n\n$VIBE
        $LEND $SUB $DRGN $BTG $XRP $BTC $ETH $ENG $NEBL $AMB $OAX… https://t.co/B2m381c1AzHas
        anyone received an award for a tip submitted to the https://t.co/LwPcCkxD0V
        website? Looking for easy $ in the… https://t.co/9ym1JxRsKFTrade with BitMEX
        for up to 100x Leverage!\n\n▶️ https://t.co/KKqz3x6D2a ◀️\n\nBillions of dollars
        are traded on BitMEX… https://t.co/IF7kY3x6XaBinance is Your Gateway to #Crypto
        Currencies - $ETH $BTC $LTC $XRP #72g https://t.co/R8gdY01w4b via @meetinnovation
        https://t.co/86Hy9J9qjmFast and Affordable #Crypto Trading On #Binance Crypto
        Exchange - $ETH $BTC $LTC $XRP #72g https://t.co/n2AE4p1Ccb… https://t.co/cSzNPZTurg@sleekplay_io
        \nSleekplay is a new cryptocurrency and blockchain powered platform for longsession
        applications that… https://t.co/Qcpshd2nOqYou have to seen his MVP!!! @EMMARES_IO
        #EMMARES #ICO #btc #eth #Alts #cryptocurrencies. https://t.co/L8bnFRvHtHOUNA
        #Token #Airdrop #Bounty (~$10+)\n1. Go to form:[...]
