---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=btc%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="9fe613554b75343d2c2e715f15b3bffc",
        oauth_signature="4rcZOSD%2B%2F%2FCwkr9OG3dBK7fGxs4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528249008", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 01:36:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 65d56b00be713d15962973d861fa9a7c
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1528249862'
      X-Response-Time:
      - '200'
      X-Transaction:
      - 00321f54009e3617
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Wed Jun 06 01:36:30 +0000 2018","id":1004175163116703745,"id_str":"1004175163116703745","text":"@DigFrontierCon
        @nathanielpopper No, I left in 2010 (-:  I didn''t even hear about BTC until
        2011 (when I dismissed it out of hand.)","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"DigFrontierCon","name":"Digital
        Frontier Consulting","id":741700794609598466,"id_str":"741700794609598466","indices":[0,15]},{"screen_name":"nathanielpopper","name":"Nathaniel
        Popper","id":52160722,"id_str":"52160722","indices":[16,32]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":1004168913167396864,"in_reply_to_status_id_str":"1004168913167396864","in_reply_to_user_id":741700794609598466,"in_reply_to_user_id_str":"741700794609598466","in_reply_to_screen_name":"DigFrontierCon","user":{"id":847882255540342784,"id_str":"847882255540342784","name":"Ari
        Paul","screen_name":"AriDavidPaul","location":"","description":"Kind to animals
        and small children. https:\/\/t.co\/K7E7qzx4sD","url":"https:\/\/t.co\/vbUGGMfc9T","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/vbUGGMfc9T","expanded_url":"https:\/\/twitter.com\/businessinsider\/status\/943979396758618113","display_url":"twitter.com\/businessinside\u2026","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/K7E7qzx4sD","expanded_url":"https:\/\/thecryptocurrencyinvestor.com\/2017\/10\/30\/disclaimers-and-disclosures\/","display_url":"thecryptocurrencyinvestor.com\/2017\/10\/30\/dis\u2026","indices":[36,59]}]}},"protected":false,"followers_count":117353,"friends_count":997,"listed_count":2896,"created_at":"Fri
        Mar 31 18:44:17 +0000 2017","favourites_count":8414,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":12148,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/942568095926931458\/jdVdx8E3_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/942568095926931458\/jdVdx8E3_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Jun 06 01:36:28 +0000 2018","id":1004175157009813504,"id_str":"1004175157009813504","text":"SELL\nPayment
        method: CLEAR_X_CHANGE\nOffer ID: 23963235\nAmount: 0.1 BTC\nPrice for 1:
        7624.40 USD\nMaximum: 762.44 USD\nDistance: 0.04%","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/github.com\/vala[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "@DigFrontierCon @nathanielpopper No, I left in 2010 (-:  I didn't even
        hear about BTC until 2011 (when I dismissed it out of hand.)SELL\nPayment
        method: CLEAR_X_CHANGE\nOffer ID: 23963235\nAmount: 0.1 BTC\nPrice for 1:
        7624.40 USD\nMaximum: 762.44 USD\nDistance: 0.04%SELL\nPayment method: CLEAR_X_CHANGE\nOffer
        ID: 023152\nAmount: 0.25 BTC\nPrice for 1: 7624.40 USD\nMaximum: 1906.10 USD\nDistance:
        0.04%Join our biggest Binance pump group\n\nhttps://t.co/prdCWCVMiJ\n\n$EDO
        $BTC $KNC $RCN $DNT $LRC $BCPT $OMG $EVX $WTC… https://t.co/B31pSZjTxFBig
        airdrop \U0001F525 ✈️ \U0001F4B0 Javatoken airdrop get 80,000 jtokens Hurry
        up its limited Joining link herehttps://goo.gl/nxnduC… https://t.co/wIT0LsIeI8CashBetCoin
        ( $CBC ) will be listed on HitBTC ( @hitbtc ) #cryptocurrency #blockchain
        #bitcoin #crypto #btc #ico… https://t.co/54pizrwzzD$XWC \U0001F680 200 +12.26%
        \ \U0001F550 in the last 24 hours \U0001F4B5 BTC 0.00001831 / USD 0.14 \U0001F514
        #XWC Telegram Bot ⬇ https://t.co/kFkLc8wL9e5 Reasons Why You Should Consider
        Investing in Waltonchain (WTC)\n\nhttps://t.co/NXPzIjz3Hq\n\n $BTC $ZCL $ETH
        $ETC… https://t.co/lhyeXaV5pj#420x.life Project which is gaining huge momentum
        in the near future will be one of the most An innovative successf… https://t.co/m8H5pjCs47don't
        miss out on registering on Binance, before they close registrations again\n\n
        https://t.co/T8ltsU8JJe\n\n $BTC… https://t.co/MRpOvU2TMt437 #Bitcoin mined
        since last tweet.\n \n It represents $3,331,251 (At $7,623 per $BTC #BTC)
        \n New Supply: 17,077,687 \n Progress: 81.32 %Looking for honest and profitable
        trading calls, recommendations and advice, join:\n\nhttps://t.co/CVA2UTeESL\n\n$BTC…
        https://t.co/MspgYeoGagMaxcoin Price \n\nPrice: \nUSD: 0.0809167\nBTC: 0.00001061\nRUB:
        5.0254449924\nCNY: 0.5183645099\n\nhttps://t.co/n0QCosYwKo\n\nR[...]
