---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=btc%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="688018e352051adc0e5e1aae2620ae9f",
        oauth_signature="%2F42RSk8739fdLOE99E%2BTlO4Oe3s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528302046", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 16:20:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1aacd1e2bf7c81ebecaefd940fa4a69e
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1528302101'
      X-Response-Time:
      - '166'
      X-Transaction:
      - '0019b11700ba0932'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Wed Jun 06 16:20:29 +0000 2018","id":1004397625729339392,"id_str":"1004397625729339392","text":"your
        #binance largest daily movers:\n105 are +\n1 is flat\n23 are -\n\n$BNB 15.5%\n$BLZ
        13.4%\n$MOD 10.6%\n$AE 10.3%\n$ONT 8\u2026 https:\/\/t.co\/AJAd6jjfnr","truncated":true,"entities":{"hashtags":[{"text":"binance","indices":[5,13]}],"symbols":[{"text":"BNB","indices":[66,70]},{"text":"BLZ","indices":[77,81]},{"text":"MOD","indices":[88,92]},{"text":"AE","indices":[99,102]},{"text":"ONT","indices":[109,113]}],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/AJAd6jjfnr","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1004397625729339392","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Lite\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":953036418925940736,"id_str":"953036418925940736","name":"PJ
        Morin","screen_name":"pjmorin20","location":"Maryland, USA","description":"daytrader\/investor
        with 18yrs of experience. Lets build a profitable community TOGETHER.   co-founder
        of TA Crypto https:\/\/t.co\/se01jg37R2","url":"https:\/\/t.co\/SY9onCyTJ4","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/SY9onCyTJ4","expanded_url":"https:\/\/www.tacrypto.net\/","display_url":"tacrypto.net","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/se01jg37R2","expanded_url":"https:\/\/discord.gg\/WfmSWzp","display_url":"discord.gg\/WfmSWzp","indices":[115,138]}]}},"protected":false,"followers_count":463,"friends_count":1023,"listed_count":4,"created_at":"Mon
        Jan 15 22:49:23 +0000 2018","favourites_count":413,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":800,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/973619564427685888\/Eu1U_FFu_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/973619564427685888\/Eu1U_FFu_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Wed
        Jun 06 16:20:18 +0000 2018","id":1004397580489576448,"id_str":"1004397580489576448","text":"The
        price of TRON is $0.059659! https:\/\/t.co\/zw1ex1lhT3 \n\n#TRX #TRONSR #BTC","truncated":false,"entities":{"hashtags":[{"text":"TRX","indices":[58,62]},{"text":"TRONSR","indices":[63,70]},{"text":"BTC","indices":[71,75]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/zw1ex1lhT3","expanded_url":"https:\/\/coinmarketcap.com\/curren[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "your #binance largest daily movers:\n105 are +\n1 is flat\n23 are -\n\n$BNB
        15.5%\n$BLZ 13.4%\n$MOD 10.6%\n$AE 10.3%\n$ONT 8… https://t.co/AJAd6jjfnrThe
        price of TRON is $0.059659! https://t.co/zw1ex1lhT3 \n\n#TRX #TRONSR #BTC\U0001F525
        $DPC SELFDROP WITH A BIG BONUS \U0001F525\nINVEST 10 $WAVES NOW TO GET 50,000,000
        $DPC, JUST FOR 5 PEOPLE ONLY!\n\nSEND… https://t.co/cDooEx9Cz6\U0001F525 Buy
        \U0001F381 Apple iTunes Gift Cards with Bitcoin and Altcoin. Save up to 24%!\U0001F60D\U0001F911\r
        \n\n#gift #itunes #googleplay #psn_plus… https://t.co/B0bmcofvdRBITMEX is
        where i traded and fcking doubled my money during bitcoin's downturn. \n\nCreate
        acc-&gt;… https://t.co/nLgz9azh9cA $XMR is worth 0.0218976 BTC$BNB/BTC \"What
        If\"chart \n\nhttps://t.co/uHGBOASFBu $BNB.X via @coinigy@WeissRatings Never
        will they beat Ethereum. Too late. Close your ratings, probably almost all
        other coins will die. Btc eth.One Firm Is Way Ahead of Wall Street on $BTC
        #Bitcoin https://t.co/t0RsyF7hJE\U0001F4F0 LATEST NEWS: Ripple Smart Contracts
        Creator Targets Ethereum with New Tech Launch\n\nhttps://t.co/ZUcNCJ1wGD…
        https://t.co/J2JpsAN2eRBitcoin (BTC) Completes Alternating Cycles On The Sixth
        Of Every Month https://t.co/jxGyu0a9Yf@Storris Again. We have given our government
        the power to do whatever the fuck they want.\nThe usd is dead. Ideally… https://t.co/6a7EycfEr8Do
        you know what time it is?,https://t.co/8fffuWqFXx@hulk_macho\n@Michell_Salway\n@_mihata_\n@PeercoinMarket\n@markjus7in\nJoin
        the HORI Airdrop. Sign up and complete the f… https://t.co/ICMzuI7tZx\"Japan’s
        fi[...]
