---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=btc%20-rt&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fEtUQ70MFHfijNlCcNgu0UbhB", oauth_nonce="2dfb666356071f4733bbc2c7cc026d63",
        oauth_signature="lE7wrhmfmvqxbpPrqzquzVr5HOE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528248831", oauth_token="993563231485480960-PYjxFAvfLytiGUNf5a7kSegNWzTPkGa",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 01:33:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3d7e9d7013deb9e5f5aad8df001f6a7b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1528248909'
      X-Response-Time:
      - '147'
      X-Transaction:
      - 0055a4f500bbeee4
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Wed Jun 06 01:33:36 +0000 2018","id":1004174434356170752,"id_str":"1004174434356170752","text":"\ud83c\udf89Have
        you entered our 2,200 $CAZ GIVEAWAY? \ud83c\udf89\n\nBe quick to check out
        the tweet and enter the draw to win!\nWinner dra\u2026 https:\/\/t.co\/NucybggZNc","truncated":true,"entities":{"hashtags":[],"symbols":[{"text":"CAZ","indices":[28,32]}],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/NucybggZNc","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1004174434356170752","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":909686092214837248,"id_str":"909686092214837248","name":"CazCoin","screen_name":"cazproject","location":"","description":"Global
        B2B and B2C cross-border ecommerce platform powered by blockchain technology,
        with access to all buyers and sellers, with no financial boundaries","url":"https:\/\/t.co\/TVrADSU1K3","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TVrADSU1K3","expanded_url":"http:\/\/CazCoin.io","display_url":"CazCoin.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2014,"friends_count":51,"listed_count":30,"created_at":"Mon
        Sep 18 07:50:40 +0000 2017","favourites_count":162,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":483,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/988958951235510272\/UCKHX9ot_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/988958951235510272\/UCKHX9ot_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/909686092214837248\/1526942535","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1002487100300656640,"quoted_status_id_str":"1002487100300656640","quoted_status":{"created_at":"Fri
        Jun 01 09:48:44 +0000 2018","id":1002487100300656640,"id_str":"1002487100300656640","text":"\ud83c\udf892,200
        $CAZ GIVEAWAY!\ud83c\udf89\n \nFollow, like, retweet &amp; tag a friend to
        win!\n \nWinner will be announced at 2,200 followers\u2026 https:\/\/t.co\/3bDbpCpSLC","truncated":true,"entities":{"hashtags":[],"symbols":[{"text":"CAZ","indices":[7,11]}],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/3bDbpCpSLC","expanded_url":"https:\/\/twitter.c[...]
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: "\U0001F389Have you entered our 2,200 $CAZ GIVEAWAY? \U0001F389\n\nBe
        quick to check out the tweet and enter the draw to win!\nWinner dra… https://t.co/NucybggZNcLearn
        this, immediately! ☝️\n$BTC #Bitcoin $LTC #Litecoin https://t.co/3yUasaHA8hdon't
        miss out on registering on Binance, before they close registrations again\n\n
        https://t.co/8cg8a4pgQi\n\n $BTC… https://t.co/JLLf48FbX0@cadillackiller @CobraBitcoin
        $BTC vs $BCH \nGreg Maxwell did this to #bitcoin core \nGM and Adam Back are
        founders o… https://t.co/Yo8R6mGrWFFree and Best Automatic Bitcoin - Altcoins
        - USDT Trading Bot https://t.co/32ncragwb1… https://t.co/8q0cgYE3jL#Vietnam
        Proposes Import #Ban on #Bitcoin #Mining Equipment https://t.co/Tm0SY1MOaN
        #btc #crypto #cryptocurrency@DanielKrawisz is anyone that supports BTC ov[...]
