.login_form {
  margin-top: 100px;
  border: 1px solid #888888;
  border-radius: 8px;
  background-color: white;
}

.login-content {
  margin-top: 30px;
}

.login_form, .login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
