.tweet-page, .tweet-page-index, .tweet-page-market, .tweet {
  border: 1px solid #888888;
  border-radius: 8px;
}

.tweet-page-index, .tweet-page, .tweet-page-market {
  opacity: 0.80;
}

.tweet-page-index:hover, .tweet-page:hover, .tweet-page-market:hover {
    opacity: 1.0;
}

.tweet {
  opacity: 1.0;
}

.tweet-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: white;
  height: 250px;
  a {
    width: 100%;
    color: black;
  }
}

.tweet-page-market {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: white;
  height: 250px;
  a {
    width: 100%;
    color: black;
  }
}

.tweet-page-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: white;
  width: 100%;
  a {
    width: 100%;
    display: block;
    color: black;
  }
}

.tweet {
  margin-top: 4px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  a {
    width: 100%;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-tweet-page {
  h2, h4, li {
    margin-left: 4px;
  }
}

.tweet-body {
  margin-left: 5px;
}

.tweet-box, .get_watson_button {
  margin-bottom: 30px;
}

.tweet-box {
  margin-left: 0px;
}

.tone-list {
  margin-bottom: 25px;
}

.tone-icon {
  width: 20px;
  height: 15px;
}

.text {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.red {
    color: red;
}

.green {
    color: green;
}
