div.welcome-index {
  margin-top: 100px;
}

.register {
  border: 1px solid #888888;
  border-radius: 8px;
  background-color: white;
  .register-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.oath-box, .login-box, .current-box {
  background-color: white;
  border: 1px solid #888888;
  border-radius: 8px;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
