<header>
  <!-- Hero Image -->
  <div class="background-img">
  </div>

  <!-- Navigation Bar -->
  <nav class="fixed-nav-bar">
    <div class="home-nav">
      <% if current_user %>
        <%= link_to 'Home', root_path %>
      <% end %>
      </div>

    <div class="title-main-nav">
      <%= image_tag(asset_path('icon.png')) %>
    </div>

      <div class="signout-nav">
        <% if current_user %>
          <%= link_to 'Log Out', logout_path, method: :delete %>
        <% end %>
      </div>
  </nav>

</header>
