<nav class="container">
  <nav class="row">
    <div class="ten columns">&nbsp;</div>
    <div class="two columns">
      <% if current_user %>
        <%= link_to 'Log Out', logout_path, method: :delete %>
      <% end %>
    </div>
  </nav>
</nav>
